{% extends "base.html" %}

{% block title %}
{{ article.title|striptags|e }} {% if article.subtitle %} - {{ article.subtitle|striptags|e }} {% endif %} - {{ super() }}
{% endblock title %}

{% block content %}
<div class="card">
	<div class="card-content">
	<div class="media">
		<div class="media-left">
		<figure class="image is-48x48">
			{% if article.author_avatar %}<img src="{{ article.author_avatar }}" alt="Avatar image">{% endif %}
		</figure>
		</div>
		<div class="media-content">
		<p class="title is-4">{{ article.title }}</p>
		<p class="subtitle is-6"><a href="{{ article.author.url }}">{{ article.author }}</a> {% if article.email %}{{ article.email }}{% endif %} <time itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">{{ article.date.ctime() }}</time></p>
		</div>
	</div>
	</div>
</div>
<article class="message is-info">
	<div class="message-body has-text-dark">
		{{ article.content }}
	</div>
</article>
{% endblock content %}
